$background_nuit : linear-gradient(353deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
$background_jour : linear-gradient(353deg, rgba(237,67,16,1) 0%, rgba(255,227,97,1) 100%);
$background_gris : linear-gradient(353deg, rgba(107,107,107,0.48785451680672265) 0%, rgba(107,107,107,0.4906556372549019) 100%);
